<ul class="quotes">
<% for(var i=0; i<nobetciler.length; i++) {%>
    <li class="quote">
      <span><%= nobetciler[i].adi %></span>
      <span><%= nobetciler[i].soyadi %></span>
    </li>
  <% } %>
 
</ul>
